# ========================
# BACKEND
# ========================

DB_HOST=
DB_USER=
DB_PASS=
DB_NAME=

JWT_SECRET=
OPENAI_API_KEY=

# ========================
# FRONTEND
# ========================

VITE_API_BASE_URL=

VITE_GOOGLE_CLIENT_ID=
VITE_FACEBOOK_APP_ID=
